.imgHolder {
    width: 75px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 50%;
  }
  
  .courseTableImg {
    width: 88%;
    height: 88%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .courseTableImg:hover {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  